P, H2 , H1 { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:"Brush Script Std" , cursive;
  }
  
P, H2 , H1 { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:"Brush Script Std" , cursive;
  }
  audio {
    margin-left: auto;
    margin-right: auto;
  width: 50%;}
  
  header { background-color:rgb(159, 160, 195);}
  
  .Arr, img { 
    border: 1px solid  #9FA0C3ff;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    background:linear-gradient(45deg, #9FA0C3ff, #AFB0CDff, #BFC1D6ff, #CED1E0ff, #DEE2E9ff, #EEF2F3ff);}
  
  .logo {
    font-size:  1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
    }
  .lienF {
    text-decoration:none;
    color:aliceblue;
    font-size:  0.3 em;
    }
  .icon { text-align: right; }
  table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
  }
  table, td, tr { border: solid 1px;}
  
  td, tr { text-align: center; padding: 10PX;}
  caption { padding: 10PX;
  background-color: #CED1E0ff ;}
  th { font-size: 1.2rem;
  background-color:#9FA0C3ff;
  text-transform: uppercase;
  text-align: center;}
  tfoot td { background-color: #CED1E0ff;}
  .italic { font-style: italic;}
  
  
  @media screen and (min-width:720px){
    .logo {
     /* réglage à partir de 640px et + : corps un peu plus grand et même typo */
      font-size: 2em ;
    }
    .lienF { font-family:sans-serif;
      font-size:  1em;
      }
   
      
    }
  
  
    
  
    